name: native-android

on:
  push:
    paths:
      - "native-android/**"
      - ".github/workflows/native-android.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ORG_GRADLE_PROJECT_GIPHY_API_KEY: ${{ secrets.GIPHY_API_KEY }}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - uses: ./.github/actions/setup-native-android

      - run: ./gradlew test --stacktrace
        working-directory: native-android

  connectedAndroidTest:
    runs-on: ubuntu-latest
    steps:
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - uses: actions/checkout@v6.0.0

      - uses: ./.github/actions/setup-native-android

      - uses: reactivecircus/android-emulator-runner@v2.35.0
        with:
          api-level: 29
          script: ./gradlew connectedAndroidTest
          working-directory: native-android

  assembleDebug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - uses: ./.github/actions/setup-native-android

      - run: ./gradlew assembleDebug --stacktrace
        working-directory: native-android

      - uses: actions/upload-artifact@v5.0.0
        with:
          name: rlad-debug-apk
          path: native-android/app/build/outputs/apk/debug/*debug*.apk

  assembleRelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - uses: ./.github/actions/setup-native-android

      - run: ./gradlew assembleRelease --stacktrace
        working-directory: native-android

      - uses: ilharp/sign-android-release@v2.0.0
        id: sign_app
        with:
          releaseDir: native-android/app/build/outputs/apk/release
          signingKey: ${{ secrets.RELEASE_SIGNING_KEY }}
          keyAlias: ${{ secrets.RELEASE_ALIAS }}
          keyStorePassword: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.RELEASE_KEY_PASSWORD }}

      - uses: actions/upload-artifact@v5.0.0
        with:
          name: rlad-release-apk
          path: ${{steps.sign_app.outputs.signedFile}}

  bundleRelease:
    if: github.ref == 'refs/heads/master'
    needs: [test, connectedAndroidTest, assembleDebug, assembleRelease]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - uses: ./.github/actions/setup-native-android

      - name: Calculate stable run number
        id: versioning
        run: echo "stable_run_number=$((${{ github.run_number }} + 2000))" >> $GITHUB_OUTPUT

      - uses: chkfung/android-version-actions@v1.2.3
        with:
          gradlePath: native-android/app/build.gradle.kts
          versionCode: ${{ steps.versioning.outputs.stable_run_number }}
          versionName: "1.0.${{ steps.versioning.outputs.stable_run_number }}"

      - run: ./gradlew bundleRelease --stacktrace
        working-directory: native-android

      - uses: ilharp/sign-android-release@v2.0.0
        id: sign_app
        with:
          releaseDir: native-android/app/build/outputs/bundle/release
          signingKey: ${{ secrets.RELEASE_SIGNING_KEY }}
          keyAlias: ${{ secrets.RELEASE_ALIAS }}
          keyStorePassword: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.RELEASE_KEY_PASSWORD }}

      - uses: actions/upload-artifact@v5.0.0
        with:
          name: rlad-release-bundle
          path: ${{steps.sign_app.outputs.signedFile}}

      - uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJsonPlainText: ${{ secrets.RELEASE_SERVICE_ACCOUNT_JSON }}
          packageName: com.rlad
          releaseFiles: ${{steps.sign_app.outputs.signedFile}}
